/* Center-align headers for Mission, Vision, and Values */
.section > h1,h1, 
.section > h2 {
  text-align: center;
  font-size: 2.5em; 
  color: #ffa500; 
  margin: 20px 0; 
  font-weight: bold; 
}

/* Optional: Apply styling to all headers inside the sections */
.section h1, 
.section h2, 
.section h3 {
  text-align: center;
  margin: 10px auto; /* Center headers and add spacing */
  font-weight: bold; /* Highlight the importance of headers */
}
.mentors-header {
  text-align: center; /* Center-align the header */
  font-size: 2.5em; /* Emphasize the size */
  color: #720e9e; /* Use a unique color for distinction */
  margin: 20px auto; /* Add spacing around */
  font-weight: bold; /* Highlight the text */
}

/* Keep other text elements unaffected */
.section p, 
.section div {
  text-align: left; /* Default alignment for paragraphs or divs */
  margin: 10px 0;
  color: black;
}


.about *{
    margin:20px;
  }
  .custom-flex-container{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  
  .ui.italized.header {
    font-style: italic;
    color: rgb(2, 34, 2);
  }
  .card.content.header {
    font-weight: bold;
    color: rgb(113, 5, 39);
    text-align: center;
  }
  
  .custom-h2{
    font-size: 20px;
    text-align: center;
  }
  #custom-image{
    align-self: center !important;
    margin: auto;
  }
  .section{
    color:black;
    margin-bottom: 20px;
  }
